body {
    font-family: sans-serif;
}

.project {
    background-color: whitesmoke;
}

.todo {
    background-color: lightgrey;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: pink;
}